<!DOCTYPE html>
<html>
  <head>
    <title>Places</title>
    <link href="http://fonts.googleapis.com/css?family=Fauna One:bold" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render '/layouts/shim' %>
</head>
  <body>
    <!-- for devise -->
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>

